*
{
    margin: 0;
    padding: 0;
    font-family: "Oxygen";
    box-sizing: border-box;
}

.payment
{
    padding: 20px 40px;
    width: 100%;

}

.payment .container
{
    padding: 10px 20px;
    max-width: 100%;
}

.payment .container .form
{
    width: 400px;
    background: #f6f6f6;
    padding: 20px 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 3px 8px;
    margin: 0px auto;
    border-top: 3px solid #f02e3a;
    border-radius: 5px;
}

.payment .container .form h2
{
    color: #a42024;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
}

.payment .container .form .box
{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;

}

.payment .container .form .box .label h4
{
    margin-left: 30px;
    color: #232323;
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
}

.payment .container .form .box .input input
{
    margin-right: 16px;
    border: none;
    outline: none;
    background: none;
    border-bottom: 2px solid #8a8a8a;
    padding: 10px 20px;
}

.payment .container .form .box .input textarea
{
    margin-right: 30px;
    border: none;
    outline: none;
    background: none;
    border-bottom: 2px solid #8a8a8a;
    padding: 10px 20px;
    resize: none;
}

.payment .container .form button
{
    margin-top: 20px;
    margin-left: 30px;
    padding: 10px 30px;
    color: #fff;
    border: none;
    outline: none;
    background: none;
    background: #a42028;
    cursor: pointer;
}

.payment .bottom
{
    margin-left: 30px;
}


.payment .bottom .Total h4
{
    font-size: 22px;
    color: #a42028;
    text-transform: uppercase;
    font-weight: 600;
}

.payment .bottom button
{
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    outline: none;
    background: none;
    background: #a42028;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}
.payment .bottom button:hover
{
    background: #f02e3a;
    color: #ffffff;
}